.menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-text {
    text-align: center;
}

.menu-text h1{
    font-size: 6rem;
}

.menu-group {
    display: flex;
    align-items: center;
    text-align: center;
}

.menu-title {
    margin-right: 1rem;
}

.menu-subtitle {
    max-width: 20rem;
    height: 100%;
    opacity: 0.4;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.message {
	background: var(--color-text);
	color: var(--color-bg);
	padding: 1rem;
	text-align: center;
}

.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__links a:not(:last-child)::after {
	content: '|';
	margin: 0 0 0 1rem;
}

.frame__links a:hover:not(:last-child)::after {
	color: var(--color-link);
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
	text-decoration: line-through;
}

.frame__heading {
	font-weight: normal;
	margin: 0;
	color: var(--color-heading);
}

.frame__text + .frame__heading {
	margin: 2rem 0 0 0;
}

.frame__text + .frame__text {
	display: block;
}

.frame__photography {
	color: var(--color-heading);
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
}

.distort {
	position: absolute;
	pointer-events: none;
	will-change: transform;
}

.distort__img {
	opacity: 0;
}

.content {
	font-family: var(--font-content), serif;
	color: var(--color-content-text);
}

.quote {
	display: block;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	font-size: 2rem;
	z-index: 999;
	font-weight: normal;
}

.quote__author {
	margin: 2rem 0 0 0;
	display: block;
	font-size: 1rem;
	color: var(--color-content-secondary);
}

.quote__author::before {
	content: '\2014';
	margin-right: 1rem;
}

.menu__link,
.quote__link {
    cursor: pointer;
	z-index: 999;
	color: var(--color-content-link);
    opacity: 0.2;
}

.menu__link:hover,
.quote__link:hover {
	color: var(--color-content-link-hover);
    opacity: 1;
}

.menu__link span,
.quote__link span {
	display: inline-block;
}


@media screen and (min-width: 53em) {
	body {
		overflow: hidden;
	}
	.message {
		display: none;
	}
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 2rem;
		pointer-events: none;
		grid-template-columns: 20% 80%;
		grid-template-rows: 2rem auto auto;
		grid-template-areas: 'credits demos'
							 'credits photography'
							 'contact title';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
		justify-content: flex-end;
		align-self: end;
	}
	.frame__title {
		margin: 0 2rem 0 0;
	}
	.frame__photography {
		grid-area: photography;
		align-self: center;
		justify-self: end;
		writing-mode: vertical-lr;
	}
	.frame__credits {
		grid-area: credits;
	}
	.frame__contact {
		grid-area: contact;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
		justify-content: center;
	}
	.quote {
		font-size: 9vh;
	}
	.quote__author {
		font-size: 2.5vh;
	}
	.quote__link::after {
		top: calc(100% - 1vh);
	}
}
